h1 {
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: bold;
    color: firebrick;
    font-family:'Freckle Face', cursive;
    padding: 1rem;
}

a{
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    align-items: stretch;
}
.enlaces__item{
    display: inline-block;
    margin-left: 170px;
}

ul{
    list-style-type: none;
}

.Nuevo {
font-size: 30px;
overflow: visible;
display: block;
margin-left: 5px;
padding-top: 3px;
padding-right: 5px;
}

.simbolo {
    margin: 5px;
    width: 50%;
    height: 30%;
    border-width: 2px;
    border-style: dashed;
    border-color: firebrick;
} 

header {
    display: flex;
    align-items: stretch;
    padding: 2rem;
    background: linear-gradient(to right, black, darkred)
}
.multimedia {
    margin-left: 2px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 4px;
}
body {
    background-color: whitesmoke;
}

.videoceremonia {
    margin-left: 1px;
    margin-top: 2px;
    border-color: firebrick;
    border-style: solid;
    border-width: 4px;
}

table{
    border-style: outset;
    margin: 3px 4px 5px 5px;
    padding: 8px;
    border-color: firebrick;
    width: 100%;
    height: 20%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

section .palmares {

    width: 20%;
}

.palmares .fasefinal{
    font-weight: bold;
}
h2 {
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 30px;
    text-decoration-line: underline;
    text-align: center;
    gap: 1.5rem;
}

.cuadro .fasefinal {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70rem;
   height: 70rem;
}

.newsletter {
    font-size: 18px;
    font-style: normal;
    display: block;
    font-weight: regular;
    line-height: 1.5;
    text-align: center;
}

form {
    text-align: center;
    background-color: darksalmon;
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .8rem;
    font-size: 1.5em;
    font-weight: bold;
    color: darkslategrey;
}

.options {
    gap: 4rem;
    
}

.clubes {
    gap: 2rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img{
    width: 100%;
}

.baul {
    max-width: 1200px;
    margin: 0 auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;

}

.galeria .galeria__img1 {

    grid-column: 1/13;
}


.galeria .galeria__img3 {
    grid-column: 1/13;
    grid-row: 2;
}


.galeria .galeria__img7 { 
    grid-row: 3;
    grid-column: 1/7;
}

.galeria .galeria__img8 {
    grid-row: 3/4;
    grid-column: 7/13;
     
}


@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        

    }

    .galeria {
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }

    h1{
        display: flex;
        align-items: center;
    }

    .multimedia {
        flex-direction: column;
    }

    .videoceremonia{
        display: grid;
    }

    .cuadro {
        display: flex;
        justify-content: center;
    }
}