#header {
  display: flex;
  align-items: stretch;
  padding: 2rem;
  background: linear-gradient(to right, black, darkred) enlaces__item;
} 
  #header { display: inline-block;
            margin-left: 170px; }

  #header a {
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    align-items: stretch; }
  #header ul {
    list-style-type: none; }
