/* MISC */
/* Colors */
/* Spacings */
/* Font-Family */
/* Font-Size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

/* PARTIALS */
#header {
  display: flex;
  align-items: stretch;
  padding: 2rem;
  background: linear-gradient(to right, black, darkred); }

.enlaces__item {
  display: inline-block;
  margin-left: 170px; }

a {
  color: orangered;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: flex;
  text-decoration: none;
  align-items: stretch; }

ul {
  list-style-type: none; }

a:hover {
  color: orangered; }

footer {
  padding: 1rem;
  border-bottom: #000000;
  background-color: #B80000; }
  footer .redes {
    display: flex;
    flex-direction: self-start;
    justify-content: end;
    align-items: self-start;
    gap: 1rem;
    min-width: 700px; }
    footer .redes .redes a {
      text-decoration: none;
      font-size: 28px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #000000;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba 0, 0, 0, 0.5; }
      footer .redes .redes a .btn--facebook {
        background-color: "#87cefa"; }
      footer .redes .redes a .btn--instagram {
        background-color: "#A020F0"; }
      footer .redes .redes a .btn--whatsapp {
        background-color: "#90EE90"; }

/* VIEWS */
h1 {
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: bold;
  color: firebrick;
  font-family: 'Freckle Face', cursive;
  padding: 1rem; }

.Nuevo {
  font-size: 30px;
  overflow: visible;
  display: block;
  margin-left: 5px;
  padding-top: 3px;
  padding-right: 5px; }

.multimedia {
  margin-left: 2px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 4px; }

.simbolo {
  margin: 5px;
  width: 50%;
  height: 30%;
  border-width: 2px;
  border-style: dashed;
  border-color: firebrick; }

.videoceremonia {
  margin-left: 1px;
  margin-top: 2px;
  border-color: firebrick;
  border-style: solid;
  border-width: 4px; }

.btn, .btn--aceptar, .btn--cancelar {
  width: 140px;
  padding: 9px 11px;
  font-size: 17px;
  margin: 0 auto;
  border: none;
  font-family: 'Montserrat', sans-serif; }

.btn--aceptar {
  background-color: orangered; }
  .btn--aceptar hover {
    background-color: rgba(241, 70, 8, 0.767); }

.btn--cancelar {
  background-color: orangered; }
  .btn--cancelar hover {
    background-color: rgba(218, 63, 7, 0.842); }

.clasificacion .fasefinal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 70rem; }

.palmares .fasefinal {
  font-weight: bold; }

.baul {
  max-width: 1200px;
  margin: 0 auto; }

.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem; }

.galeria .galeria__img1 {
  grid-column: 1/13; }

.galeria .galeria__img3 {
  grid-column: 1/13;
  grid-row: 2; }

.galeria .galeria__img7 {
  grid-row: 3;
  grid-column: 1/7; }

.galeria .galeria__img8 {
  grid-row: 3/4;
  grid-column: 7/13; }

section .palmares {
  width: 20%; }

table {
  border-style: outset;
  margin: 3px 4px 5px 5px;
  padding: 8px;
  border-color: firebrick;
  width: 100%;
  height: 20%;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.lead {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: large; }

.newsletter {
  font-size: 18px;
  font-style: normal;
  display: block;
  font-weight: regular;
  line-height: 1.5;
  text-align: center; }

form {
  text-align: center;
  background-color: darksalmon;
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: .8rem;
  font-size: 1.5em;
  font-weight: bold;
  color: darkslategrey; }

.options {
  gap: 4rem; }

.clubes {
  gap: 2rem; }
