<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flagrantemente</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header> 
        <section id="Ruta">
        <nav class="navegacion">
            <ul class="enlaces">
                <li class="enlaces__item">
                    <a href="../index.html" class="enlaces__casa">Home</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Standings.html" class="enlaces__posiciones">Standings</a>
                </li>
                <li class="enlaces__item">
                    <a href="./En la chiquita.html" class="enlaces__cuando importa">En La Chiquita</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Franquicias.html" class="enlaces__clubes">Franquicias</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Contacto.html" class="enlaces__conexion">Contacto</a>
                </li>
            </ul>
        </nav>
        </section>
    </header>
    <h1>Flagrantemente</h1>
    <section class="newsletter">
        <h2>Suscribite al Newsletter!</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" name="usuario">
            <label for="contrasenia">Contraseña</label>
            <input type="password" name="contrasenia">
            <label for="correo">E-Mail</label>
            <input type="email" name="correo">
        <div class="options">
            <input type="radio" name="Opción Única" value="Conferencia Oeste" id="">
            <label for="">Conferencia Oeste</label>
            <br>
            <input type="radio" name="Opción Única" value="Conferencia Este" id="">
            <label for="">Conferencia Este</label>
        </div>
        <div class="clubes">
            <select name="Franquicia" id="">
                <option value="Atlanta">Atlanta</option>
                <option value="Boston">Boston</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Charlotte">Charlotte</option>
                <option value="Chicago">Chicago</option>
                <option value="Cleveland">Cleveland</option>
                <option value="Detroit">Detroit</option>
                <option value="Indiana">Indiana</option>
                <option value="Miami">Miami</option>
                <option value="Milwaukee">Milwaukee</option>
                <option value="New York">New York</option>
                <option value="Orlando">Orlando</option>
                <option value="Philadelphia">Philadelphia</option>
                <option value="Toronto">Toronto</option>
                <option value="Washington">Washington</option>
            </select>
            <select name="Franquicia" id="">
                <option value="Dallas">Dallas</option>
                <option value="Denver">Denver</option>
                <option value="Golden State">Golden State</option>
                <option value="Houston">Houston</option>
                <option value="Los Angeles Clippers">Los Angeles Clippers</option>
                <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                <option value="Memphis">Memphis</option>
                <option value="Minnesota">Minnesota</option>
                <option value="New Orleans">New Orleans</option>
                <option value="Oklahoma City">Oklahoma City</option>
                <option value="Phoenix">Phoenix</option>
                <option value="Portland">Portland</option>
                <option value="Sacramento">Sacramento</option>
                <option value="San Antonio">San Antonio</option>
                <option value="Utah">Utah</option>
            </select>
        </div>
        <div>
            <input type="checkbox" name="Opción Simple" value="Resultados" id="">
            <label for="">Resultados</label>
            <br>
            <input type="checkbox" name="Opción Simple" value="Últimas Noticias" id="">
            <label for="">Últimas Noticias</label>
            <br>
            <input type="checkbox" name="Opción Simple" value="Efemérides" id="">
            <label for="">Efemérides</label>
        </div>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar Formulario</button>
        </form>
    </section>
    <footer>
        <section class="redes">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-whatsapp"></a>

        </section>
    </footer>
</body>
</html>