<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flagrantemente</title>
    <meta name="description" content="Lo último de lo último en el Planeta NBA.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header> 
        <section id="Ruta">
        <nav class="navegacion">
            <ul class="enlaces">
                <li class="enlaces__item">
                    <a href="../index.html" class="enlaces__casa">Home</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Standings.html" class="enlaces__posiciones">Standings</a>
                </li>
                <li class="enlaces__item">
                    <a href="./En la chiquita.html" class="enlaces__cuando importa">En La Chiquita</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Franquicias.html" class="enlaces__clubes">Franquicias</a>
                </li>
                <li class="enlaces__item">
                    <a href="./Contacto.html" class="enlaces__conexion">Contacto</a>
                </li>
            </ul>
        </nav>
        </section>
    </header>
    <h1>Flagrantemente</h1>
    <main class="baul">
        <section id="galeria" class="galeria">
            <picture class="galeria__img1">
                <img src="../img/Imagen 1.jpg" alt="">
            </picture>
            <picture class="galeria__img3">
                <img src="../img/Imagen 3.jpg" alt="">
            </picture>
            <picture class="galeria__img7">
                <img src="../img/Imagen 7.jpg" alt="">
            </picture>
            <picture class="galeria__img8">
                <img src="../img/imagen 8.jpg" alt="">
            </picture>
        </section>

    </main>
    <footer>
        <section class="redes">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-whatsapp"></a>

        </section>
    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>