#header {
    display: flex;
    align-items: stretch;
    padding: 2rem;
    background: linear-gradient(to right, black, darkred) 
}

    .enlaces__item{
        display: inline-block;
        margin-left: 170px;
    }
    a{
        color: orangered;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        text-decoration: none;
        align-items: stretch;
    }
    ul{
        list-style-type: none;
    }
