
.newsletter {
    font-size: 18px;
    font-style: normal;
    display: block;
    font-weight: regular;
    line-height: 1.5;
    text-align: center;
}

form {
    text-align: center;
    background-color: darksalmon;
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .8rem;
    font-size: 1.5em;
    font-weight: bold;
    color: darkslategrey;
}

.options {
    gap: 4rem;
    
}

.clubes {
    gap: 2rem
}